

body{  
    background: #21242b;
  }
  
  
  
  a{
    color: #acb4c1;
    text-decoration: none;
  }
  
  a:hover{
    color: #fff;
  }
  
  .casio{
    margin-top:20px;
    margin-left: 25px;
    float:left;
    font-style: bold;
    font-weight: 700;
    font-family: 'Play', 'Russo One', sans-serif;
    font-size:1.4em;
    
    color: #acb4c1;
  
  }
  
  .tag{
    margin-top:60px;
    color:#ff7283;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-style: bold;
    font-size:1.3em;
  }
  
  .fx{
    font-size:1em;
     margin-top:20px;
    margin-right: 25px;
   color: #acb4c1;
    float:right;
    font-style:italic;
    
  }
  
  .form-control{
    text-align: center;
  }
  
  #display-box{
  
    padding: 5px;
    width: 310px;
   margin-top:5px;
    margin-bottom:30px;
    height:60px;
    font: 35px bold;
    text-align:right;
    border-radius: 5px;
    background:#b6d1c2;
    box-shadow: 0px 0px 40px #2b4753;
   
  }
  
  #calculator{
    width: 350px;
    height: 500px;
     margin: 50px auto;
    border: 1px solid #000000;
    background: #3a5872;
    box-shadow: 0px 0px 40px #000;
     border: 2px solid #4d5368;
      border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
  }
  
  .btn:hover{
    font-size: 1em;
    color: #fff;
    
    background: #2b4753;
    border: 1px solid #1a2f38;
    border-radius: 5px;
  }
  
  .btn:active{
    font-size: 1em;
    color: #fff;
  
    background: #2b4753;
    border: 1px solid #000;
    border-radius: 5px;
  }
  
  
  
  .keys{
  
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
    margin:2px;
    width: 58px;
    height: 40px; 
    
   border: 2px solid #4d5368;
      border-top-left-radius: .6em;
    border-top-right-radius: .6em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    
    background: #939ab4;
    
  }
  
  .equal{
     
    width: 120px;
   
    
  }
  
  .del-ac{
    background: #c86e78;
  }